fire==0.5.0
# Fire requires termcolor
termcolor==2.2.0
nptyping==2.5.0
# nptyping==2.5.0 requires numpy==1.21.5
numpy==1.21.5
# numba 0.54.0 requires numpy<1.21, so need to upgrade numba and llvmlite
numba==0.55.2
llvmlite==0.38.1
# ipykernel, plotly, and nbformat are needed for visualisation of 3d maps in notebooks
ipykernel==6.16.2
plotly==5.13.1 
nbformat==5.8.0
