numpy>=1.21.0
numba==0.55.2
numpy-quaternion==2021.6.9.13.34.11
nptyping==2.5.0
opencv-python==4.7.0.72
tqdm==4.65.0
fire==0.5.0
yacs==0.1.8
ipykernel==6.16.2
plotly==5.13.1
nbformat==5.7.0
pandas==1.3.5
habitat-sim
stable-baseline3==1.8.0
scipy==1.9.1
# pyvista and jupyter support
pyvista==0.38.5
trame==2.4.0
panel==0.14.4
matplotlib==3.5.3
# torchvision needed for maskrcnn
torchvision==0.14.1
# jaxtyping is recommended for torch tensor shape annotations
jaxtyping==0.2.12
# have to manually install gym==0.21.0 because habitat-lab requires gym >=0.22.0,<0.23.1, 
# but stable-baselines3 requires gym==0.21.0
gym==0.21.0
# open3d for map builder
open3d==0.17.0
scikit-learn==1.0.2
