numpy>=1.21.0
numba==0.55.2
numpy-quaternion==2021.6.9.13.34.11
nptyping==2.5.0
opencv-python==4.7.0.72
tqdm==4.65.0
fire==0.5.0
yacs==0.1.8
ipykernel==6.16.2
plotly==5.13.1
nbformat==5.7.0
pandas==1.3.5
habitat-sim @ git+ssh://git@github.com/facebookresearch/habitat-sim.git@v0.2.3
stable-baselines3 @ git+https://github.com/DLR-RM/stable-baselines3.git
open3d==0.17.0
# open3d-cpu==0.17.9
